*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  font-family: "Roboto", sans-serif;
  font-size: 6.25%;
  --bg-color: rgba(255, 255, 255, 0.658);
  --opacity: 1;
  --font-color: #323238;
  --button-bg: #E1E1E6;
  --button-hover-bg: hsl(194, 97%, 31%); 
  --button-hover-color: white; 
  --controls-hover-color: hsla(194, 97%, 31%, 0.3);
}

.sr-only
{
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0;
  border: 0;
  appearance: none;
  /* acessibilidade */
}
.fire{
  --bg-color: hsl(0, 74%, 50%);
  --button-hover-bg: hsl(12, 78%, 44%); 
  --opacity: 0.8;
  --controls-hover-color: hsla(12, 78%, 44%, 0.4)
}
.rain{
  --bg-color: hsl(224, 61%, 52%);
  --button-hover-bg: hsl(214, 86%, 57%); 
  --opacity: 0.8;
  --controls-hover-color: hsla(214, 86%, 57%, 0.4);
}
.forest{
  --bg-color: hsl(123, 60%, 45%);
  --button-hover-bg: hsl(143, 59%, 42%); 
  --opacity: 0.8;
  --controls-hover-color: hsla(143, 59%, 42%, 0.3);
}
.coffee{
  --bg-color: hsl(27, 87%, 21%);
  --button-hover-bg: hsl(27, 63%, 29%); 
  --opacity: 0.8;
  --controls-hover-color: hsla(27, 63%, 29%, 0.5);
}

body{
  font-size: 16rem;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  margin-top: -20rem;
  background-color: black;
}

#container
{
  position: absolute;  
  width: 100vw;
  height: calc(100vh + 20rem);
  background-color: var(--bg-color);
  opacity: var(--opacity);
  z-index: -1;
}

main
{
  display: flex;
  gap: 192rem;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 40rem;
  border-radius: 50rem;
}

button
{
  border: 0;
  color: var(--font-color);
  font-size: 48rem;
}

#timer
{
  justify-content: center;
  align-items: center;
}

#countdown
{
  display: flex;
}
#timer p
{
  font-size: 126rem;
  line-height: 117rem;
  font-weight: 500;
  color: var(--font-color);
  text-align: center;
}

#controls
{
  margin-top: 32rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#controls button
{
  background: none;
  transition: all 0.2s;
  border-radius: 50%;
  padding: 5rem;
}

#controls button:hover
{
  transform: scale(1.3);
  color: #222121;
  background-color: var(--controls-hover-color);
  
}

#controls button:active
{
  transform: scale(1.1);
  color: #323238;
}

#sounds
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32rem;
}

#sounds button
{
  background: var(--button-bg);
  padding: 48rem;
  border-radius: 24rem;
  transition: all 0.2s;
}

#sounds button:hover
{
  background: var(--button-hover-bg);
  color: var(--button-hover-color);
}

#sounds button:active
{
  filter: brightness(0.8);
  transform: scale(0.95);
}